head
  meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')

template(name='layout')
  +famousContext id="mainCtx"
    +HeaderFooterLayout headerSize="50" footerSize="0"
      +Surface target="header" translate="[0,0,1000]"
        +yield 'header'
      +Modifier target="content"
        +yield

template(name='padLayout')
  div(style="display: none")
    if shareit
      +shareit shareit
  +famousContext id="mainCtx"
    +HeaderFooterLayout headerSize="50" footerSize="0"
      +Modifier target="header" translate="[0,0,1000]"
        +Surface template="padHeader"
      +Modifier target="content"
        +FlexibleLayout target="content" ratios="[0.28,0.42,0.3]"
          +Surface
            +yield "guide"
          +yield "code"
          +yield "result"
        if overlay
          +Surface style="background: white"
            +yield "overlay"

template(name="result")
  +Modifier
    +Surface template="iframe" id="iframe"
    if sandbox.jsError
      +Surface size="[20,20]" origin="[1,0]" align="[1,0]"
        div(class="jsError",title="Error: #{sandbox.jsError}") x

template(name="iframe")
  iframe#iframe(sandbox="allow-scripts allow-same-origin")

template(name="notFound")
  h1 404 - Not Found
  p The page your requested could not be found, sorry!