head
  meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')

template(name='layout')
  +HeaderFooterLayout headerSize="50" footerSize="0"
    +Modifier target="header" translate="[0,0,1000]"
      +header
    +FlexibleLayout target="content" ratios="[0.3,0.4,0.3]"
      +Surface
        +yield "guide"
      +yield "code"
      +yield "result"

template(name="header")
  +Surface
    div#header
      div
        +loginButtons align="right"
      div
        | #{title}

template(name="guide")
  p
  | hello
  p
    if prevPage
      button.btn(data-target='prev')
        i.fa.fa-chevron-left
        | &nbsp; (#{prevPage}) Back
    if nextPage
      button.btn(data-target='next')
        | Next (#{nextPage}) &nbsp;
        i.fa.fa-chevron-right
    else if isOwner
      button.btn(data-target='createNext')
        | Create Next &nbsp;
        i.fa.fa-chevron-right

template(name="code")
  +Surface
    +aces

template(name="result")
  +Surface(template="iframe")

template(name="iframe")
  iframe#iframe(sandbox="allow-scripts allow-same-origin")

template(name="aces")
  div(id="tplEditor",style="height:50%")
  div(id="codeEditor",style="height:50%")
