head
  meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')

template(name='layout')
  +HeaderFooterLayout headerSize="50" footerSize="0"
    +Modifier target="header" translate="[0,0,1000]"
      +Surface template="header"
    +FlexibleLayout target="content" ratios="[0.28,0.42,0.3]"
      +Surface
        +yield "guide"
      +yield "code"
      +yield "result"

template(name="result")
  +Surface(template="iframe")

template(name="iframe")
  iframe#iframe(sandbox="allow-scripts allow-same-origin")
