/* CSS declarations go here */

#header {
	background: black;
	padding: 0 20px 0 20px;
	color: white;
}

#header, #header>div {
	height: 100%;
	line-height: 50px;
}

#header > div:first-child { float: right; }
#header span.title { font-size: 18px; }

#iframe {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#editorPane {
	height: 100%;
	overflow-y: auto;
	background: #222;
}
#editorPane .header {
	border-top: 1px solid #444;
	padding: 10px;
	background: #2F3129;
	color: white;
}
#editorPane .header span { float: right; }
#editorPane .editor {
	border-bottom: 1px solid black;
	margin-bottom: 1px;
}