template(name="code")
  +Surface
    +editors

template(name="editors")
  div#editorPane
    if editGuide
      +editGuideTpl
    div.header
      div
        a(data-type="tpl",data-value="jade",class="{{isLangCSS 'tpl' 'jade'}}") Jade
        a(data-type="tpl",data-value="spacebars",class="{{isLangCSS 'tpl' 'spacebars'}}") Spacebars
      | Templating
    div#tplEditor.editor
    div.footer
    div.header
      div
        a(data-type="code",data-value="coffeescript",class="{{isLangCSS 'code' 'coffeescript'}}") CoffeeScript
        a(data-type="code",data-value="javascript",class="{{isLangCSS 'code' 'javascript'}}") JavaScript
      | Code
    div#codeEditor.editor
    div.footer
    div.header
      div
        span CSS
      | Styling
    div#styleEditor.editor
      | /* soon */
    div.footer

template(name="editGuideTpl")
  div.header
    div
      span Markdown
    | Guide
  div#guideEditor.editor
  div.footer        
