#editorPane {
	height: 100%;
	overflow-y: auto;
	background: #222;
}
#editorPane .header {
	border-top: 1px solid #444;
	padding: 10px;
	background: #2F3129;
	color: white;
}
#editorPane > .header { color: #ddd; font-family: verdana; font-size: 88%; }
#editorPane > .header > div { float: right; }
#editorPane > .header > div > a { display: inline-block; }
#editorPane > .header > div > a:not(last-child) { margin-right: 5px; }

#editorPane > .header > div > a:not(.selected) { color: #777; cursor: pointer; }
#editorPane > .header > div > a:not(.selected):hover { color: #ccc; }

#editorPane > .header > div > a.selected { color: #ffa; }
#editorPane > .header > div > a.selected:hover { text-decoration: none; }

#editorPane .editor {
}

#editorPane .footer {
	height: 5px;
	background: #2F3129;
	border-bottom: 1px solid black;
	margin-bottom: 1px;
}

#editorPane .editorSuccess {
	color: #575;
}
#editorPane .editorError {
	text-shadow: 0 0 5px #800;
}