template(name="guide")
  div#guide
    if isOwner
      div#guideActions
        a(data-action="edit")
          i.fa.fa-pencil.square-o(title="Edit")
    div#guideText
      +markdown
        | #{guideContent}
    p
      if prevPage
        button.btn(data-target='prev')
          i.fa.fa-chevron-left
          | &nbsp; (#{prevPage}) Back
      if nextPage
        button.btn(data-target='next')
          | Next (#{nextPage}) &nbsp;
          i.fa.fa-chevron-right
      else if isOwner
        button.btn(data-target='createNext')
          | Create Next &nbsp;
          i.fa.fa-chevron-right
    p
      if isOwner
        button.btn(data-target='deletePage')
          | Delete this Page
          i.fa.fa-times
