.userSurface {
  background: #ccc;
}

.padCard {
  background: white;
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 0 5px 1px blue;
  cursor: pointer;
}

.padCard a { color: black; display: block; height: 100%; width: 100%; }
.padCard a:hover { text-decoration: none; }

.padCard:hover {
  background: #ffa;
}

.padCard h1 {
  font-size: 120%;
  margin-top: 0;
  margin-bottom: 7px;
}

.padCard img {
  width: 120px; height: 96px;
  border: 1px solid #888;
  margin-top: 5px;
  margin-right: 10px;
  float: left;
}