#header {
	background: black;
	padding: 0 20px 0 10px;
	color: white;
}

#header * { vertical-align: middle; }

#header, #header>div {
	height: 50px;
	line-height: 48px;
}

#headerRight { float: right; }
#headerRight > div { display: inline-block; }

#header .title { font-size: 18px; color: white; }
#header .title a { color: white; }
#header .title a:hover { text-decoration: none; }

#header .nav > li > a:hover, .nav > li > a:focus {
  /* override bootstap */
  /*
	background-color: inherit;
	text-decoration: underline;
	/* custom */
	/*
	color: #aaa;
	*/
}

#padInfoIcon { opacity: 0.5; cursor: pointer; }
#padInfoIcon.active, #padInfoIcon:hover {
	opacity: 1;
}
#padInfoIcon.active {
	color: #ff8;
}

#padInfoIcon.active #whiteArrowUp {
	position: relative;
	bottom: -7px; left: -2px;
	width: 0; height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
}