template(name="padHeader")
  div#header

    div#headerRight
      div(style="float: left")
        a(target="_TOP",href="https://github.com/gadicc/fview-lab") Help
        | &nbsp;
      if currentUser
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown",role="button",aria-expanded="false")
              | My Pads
              span.caret
            ul.dropdown-menu(role="menu")
              li
                a.pads(data-action="new") Create New
              each userPads
                li
                  a.pads(href="{{pathFor route='padHome' data=this}}") {{title}}

      | &nbsp;
      +loginButtons align="right"

    div
      a#cornerLogo(href="/")
      span.title
        if isOwner
          +titleEditable
        else
          span.title {{pad.title}}
        | #{pageHint}
      | &nbsp;
      if isOwner
        i#padInfoIcon.fa.fa-info-circle.fa-lg(class=padInfoActive)
          div#whiteArrowUp
        | &nbsp; &nbsp; &nbsp;
        if isDirty
          button.btn.btn-success(data-action="save") Save (Ctrl-S)
        else
          button.btn(disabled) ּSaved
      else
        | &nbsp; &nbsp; &nbsp;
      if currentUser
        button.btn.btn-primary(data-action="fork")
          | Fork
          if isDirty
            | and Save

      else
        | Log in to Fork/Save

template(name="titleEditable")
  +xedit value=pad.title
    a.title(data-padid="{{pad._id}}") {{pad.title}}
