#siteCounts { border: 1px solid #D8D8D7; min-width: 230px; }
#siteCounts > tr > th, #siteCounts > tr > td {
	border-bottom: 1px solid #D8D8D7;
	padding: 3px 5px 3px 5px;
}
#siteCounts > tr > th { background: #f4f4f4; }
#siteCounts > tr:nth-child(1) > th { font-size: 120%; }
#siteCounts > tr:nth-child(2) > th { color: #666;}
#siteCounts > tr:nth-child(odd) > td { background: #fff; }
#siteCounts > tr:nth-child(even) > td { background: #eee; }

#siteCounts > tr > td:nth-child(2), #siteCounts > tr > th:nth-child(2) {
	width: 80px;
	text-align: center;
}

#siteCounts img { width: 16px; height: 16px; }