template(name="padInfo")
  p hello there
  p Slug
    input(type="text",id="slug")
    br
    span#link
  p Views: #{padStats.pages.p1.views}
  p Unique IPs: #{padStats.ipCount}

  h2 Ownership
  p Change owner to
    each myTeams
      button #{username}

  h2 Stats
  table#siteCounts
    tr
      th(colspan="2") Referring sites
    tr
      th Site
      th Views
    each padStats.siteCounts
      tr
        td
          img(src="https://{{host}}/favicon.ico")
          | {{host}}
        td {{count}}
